#musem {
  background-image: url("../images/Qatar/Museum.jpg");
  background-size: cover;
}

#pearl {
  background-image: url("../images/Qatar/pearl.jpg");
  background-size: cover;
}

#souq {
  background-image: url("../images/Qatar/souq.jpg");
  background-size: cover;
}

#Katara {
  background-image: url("../images/Qatar/Katara.jpg");
  background-size: cover;
}

#clothes {
  background-image: url("../images/Qatar/culture/clothes.jpeg");
  background-size: cover;
}

#art {
  background-image: url("../images/Qatar/culture/art.jpeg");
  background-size: cover;
}

#hawks {
  background-image: url("../images/Qatar/culture/hawks.jpeg");
  background-size: cover;
}



#masmak {
  background-image: url("../images/Riyadh/masmak.jpeg");
  background-size: cover;
}

#kingdom {
  background-image: url("../images/Riyadh/kingdom.jpeg");
  background-size: cover;
}

#Mosque {
  background-image: url("../images/Riyadh/Mosque.jpeg");
  background-size: cover;
}

#clothes {
  background-image: url("../images/Riyadh/culuter/clothes.jpeg");
  background-size: cover;
}

#food {
  background-image: url("../images/Riyadh/culuter/food.jpeg");
  background-size: cover;
}

#music {
  background-image: url("../images/Riyadh/culuter/music.jpeg");
  background-size: cover;
}

