
 
nav {
  display: flex;
  flex-direction: column;
  background-color:#ffffff;
  text-align: center;
}
 
nav ul {
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
   align-items: center;
   background-color: #f8f8f8;
   padding: 1rem;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.1)
}

 
nav ul li {
  flex: 4;
  width: 130px;
  line-height: 3;
  color: #000;
  position: relative;
  display: inline-block;
}
 
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
 
nav ul li a:hover {
  text-decoration: none;
  color: #171515
}
 
nav ul li.hover-border-up::after {
  content:"";
  height:4px;
  width:17%;
  background-color:#875757;
  position: absolute;
  bottom:-4px;
  left:0;
  opacity: 0;
  transition: opacity 300ms ease, bottom 600ms ease;
}
 
nav ul li.hover-border-up:hover::after {
  opacity:1;
  bottom:0;
}


 
@media screen and (max-width: 480px) {
  nav {
    flex-direction: row;
  }
  
  ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  li {
    margin-bottom: 10px;
  }
}
